body {
    background-color: #000;
}

.backgrounds {
    width: 309px;
    height: 173.89px;
    border: 1px #ccc;
    background-image: url('download.jpg');
    background-position: bottom center center;
    filter: brightness(1.10);
    
}

.backgrounds:hover {
    border: solid 2px #7dec3d;
    cursor: pointer;
    transition: all 0.1s;
    border-radius: 5px;
}

.backgrounds img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.backgrounds:hover {
    border: solid 2px #7dec3d;
    cursor: pointer;
    filter: brightness(1.10);
}